[submodule "wasi-testsuite"]
	path = testdata/.wasi-testsuite
	url = https://github.com/WebAssembly/wasi-testsuite
[submodule "wasi-libc"]
	path = testdata/.wasi-libc
	url = https://github.com/WebAssembly/wasi-libc
