[submodule "wasiunix/test/wasi-testsuite"]
	path = wasiunix/test/wasi-testsuite
	url = https://github.com/WebAssembly/wasi-testsuite.git
	branch = prod/testsuite-base
[submodule "testdata/.deps/wasi-libc"]
	path = testdata/.deps/wasi-libc
	url = https://github.com/WebAssembly/wasi-libc
